google-apputils==0.4.2
nltk==3.0.2
-e git+https://github.com/japerk/nltk-trainer.git@85f42eb7a225fc6ec882af836739e873587f0a04#egg=nltk_trainer-master
numpy==1.9.2
ortools==1.3853
ortools-examples==1.3549
pymongo==3.0.2
python-dateutil==2.4.2
python-gflags==2.0
pytz==2015.4
scipy==0.15.1
six==1.9.0
